<html><head>
	<title>socketio</title>
</head>
<body>
   <div>
   	   socketio测试页面
   </div>


<js href="/static/js/admin/socket/socket.io.js">
<script>
// 如果服务端不在本机，请把127.0.0.1改成服务端ip
	var socket = io('http://127.0.0.1:3120');
	
	var uid = 222;
	// 当连接服务端成功时触发connect默认事件
	socket.on('connect', function(){
	    // console.log('connect success admin model index page');
	    socket.emit('login',uid);
	});

	// 触发服务端的chat message事件
	
	// 服务端通过emit('chat message from server', $msg)触发客户端的chat message from server事件
	socket.on('all login user', function(users){
	    console.log("用户ID:"+users);
	});

	socket.on('send to me',function(msg){
		console.log(msg);
	})
   
    socket.on('new_msg',function(msg){
		console.log(msg);
	})


</script></body></html>